<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img [src]="flagUrl" alt="Flag" style="width: 40%; height: auto;"></ion-img>
  <h1>{{ storedResult.name || 'Country Name Not Available' }}</h1>
  <p style="font-size: medium; color: grey;">{{ storedResult.capital }}</p>
  <p *ngIf="weather" style="font-size: medium; color: grey;">{{ this.weather }}</p>
  <p *ngIf="!weather" style="font-size: medium; color: grey;">Weather information not available</p>
  <p style="font-size: medium; color: grey;">{{ storedResult.population }}</p>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label style="font-size: medium;">Languages</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let language of getLanguages(storedResult.languages)">
      <ion-label>{{ language }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-input placeholder="Enter {{ getFirstCurrency(storedResult.currencies) }} amount" [(ngModel)]="currencyAmount"
    style="font-size: small;"></ion-input>
  <ion-item *ngIf="convertedAmount">
    <ion-label>Converted Amount (EUR)</ion-label>
    <ion-text>{{ convertedAmount }}</ion-text>
  </ion-item>
  <ion-button (click)="convertToEUR()" [disabled]="!currencyAmount">CONVERT TO EUR</ion-button>
</ion-content>